@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<!-- plays HealingSound audio clip when Product page loads -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var audio = new Audio('/audio/HealingSound.mp3');
        audio.play();
    });
</script>

<div>
    <a class="btn btn-primary btn-lg btn-block mb-3" asp-page="Create" asp-route-id="">Create a New Card</a>
    <table class="table table-bordered table-striped fancyscript">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Action</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td><a class="btn btn-primary" asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                    <td><a class="btn btn-primary" asp-page="Update" asp-route-id="@product.Id">Update</a></td>
                    <td><a class="btn btn-primary" asp-page="Delete" asp-route-id="@product.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
