@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read";
}

@{
    double averageRating = 0;
    string rating;
    @if (Model.Product.Ratings.Count() > 0)
    {
        averageRating = Model.Product.Ratings.Length > 0 ? Model.Product.Ratings.Average() : 0;
        rating = averageRating.ToString("F2") + "/5.00";
    }
    else
    {
        rating = "Not rated yet.";
    }
}

<div class="card">
    <div class="card-header">
        <h1 class="card-title text-center poketitle">@Model.Product.Name</h1>
    </div>
    <div class="row">
        <img class="col-md" src='@Model.Product.Image' alt='Image for @Model.Product.Description'>
        <div class="col-md px-0">

            <div class="card-body">

                <h2 class="h4 card-title">@Model.Product.Description</h2>
                <div class="row d-flex justify-content-center">
                    <ul class="type-list">
                        @foreach (var typeName in @Model.Product.Type)
                        {
                            <li class="h4 poketype @typeName.ToLower()">@typeName</li>
                        }
                    </ul>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="h6 poketitle text-center" asp-for="Product.CardCategory"></label>
                        <p class="text-center">@Model.Product.CardCategory</p>
                    </div>
                    <div class="col-md-6">
                        <label class="h6 poketitle text-center" asp-for="Product.Rarity"></label>
                        <p class="text-center">@Model.Product.Rarity</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="h6 poketitle text-center" asp-for="Product.Expansion"></label>
                        <p class="text-center">@Model.Product.Expansion</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="h6 poketitle text-center" asp-for="Product.Availability"></label>
                        <p class="text-center">@Model.Product.Availability</p>
                    </div>
                    <div class="col-md-6">
                        <label class="h6 poketitle text-center" asp-for="Product.Value"></label>
                        <p class="text-center">@Model.Product.Value.ToString("C")</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 class="h6 poketitle text-center">Average Rating</h3>
                    <p class="text-center">@rating</p>
                </div>
                @{
                    // If there are Comments, show them.
                    if (Model.Product.CommentList.Count > 0)
                    {
                        <br />
                        <br />
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comment in Model.Product.CommentList)
                                {
                                    <tr>
                                        <td>@comment.Comment</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
