@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read";
}

@{
    double averageRating = 0;
    @if (Model.Product.Ratings != null)
    {
        averageRating = Model.Product.Ratings.Length > 0 ? Model.Product.Ratings.Average() : 0;
    }
}

<style>
    .content {
        display: flex;
        align-items: center;
    }

    .custom-image {
        width: 400px;
        /* Set the desired width for your image */
        height: auto;
        margin-right: 20px;
        /* Adjust the margin to control the space between the image and text */
    }

    .text {
        font-size: 20px;
        /* Set the desired font size for your text */
        align-items: start;
    }
</style>

<h1>@Model.Product.Name</h1>

<div class="content">
    <img class="custom-image" src='@Model.Product.Image' alt='Image for @Model.Product.Description'>
    <div class="text">
        Name: @Model.Product.Name<br />
        Description: @Model.Product.Description<br />
        Rarity: @Model.Product.Rarity<br />
        Availability: @Model.Product.Availability<br />
        Type: @String.Join(", ", Model.Product.Type)<br />
        Expansion: @Model.Product.Expansion<br />
        Average Rating: @averageRating.ToString("F2")/5.00 ★<br />
        Price: @Model.Product.Value
    </div>
</div>
